<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <div id="region">
          Indian
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="tooltips" size="auto">
          1 of 2
      </div>
    </ion-col>
      <ion-col>
        <div size="auto" id="tooltips">
          2 of 2
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div size="auto" id="tooltips">
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <div id="tooltips" size="auto">
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div size="auto" id="tooltips">
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="region">
          Chinese
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div size="auto" id="tooltips">
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <div size="auto" id="tooltips">
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div size="auto" id="tooltips">
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div size="auto" id="tooltips">
          1 of 2
      </div>
    </ion-col>
      <ion-col>
        <div size="auto" id="tooltips">
          2 of 2
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="region">
          Continental
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div size="auto" id="tooltips">
          1 of 2
      </div>
    </ion-col>
      <ion-col>
        <div size="auto" id="tooltips">
          2 of 2
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div size="auto" id="tooltips">
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <div size="auto" id="tooltips">
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div size="auto" id="tooltips">
          3 of 3
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
