<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding-bottom: 60px;">
        <ion-fab-button color="secondary">
            <ion-icon name="person"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Faven</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card href="fourth" target="_parent">
        <ion-card-header>
            <ion-card-subtitle>Cuisine</ion-card-subtitle>
            <ion-card-title>Select a cuisine of your choice</ion-card-title>
        </ion-card-header>
        <ion-card-content style="color: brown;">
            <ion-img src="assets/images/background.jpg" style="padding-top: 5px;"></ion-img>
        </ion-card-content>
    </ion-card>

    <ion-card href="third" target="_parent">
        <ion-card-header>
            <ion-card-subtitle>Cuisine</ion-card-subtitle>
            <ion-card-title>Select a cuisine of your choice</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-img src="assets/images/background.jpg" style="padding-top: 5px;"></ion-img>
        </ion-card-content>
    </ion-card>

    <ion-card href="first" target="_parent">
        <ion-card-header>
            <ion-card-subtitle>Cuisine</ion-card-subtitle>
            <ion-card-title>Select a cuisine of your choice</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-img src="assets/images/background.jpg" style="padding-top: 5px;"></ion-img>
        </ion-card-content>
    </ion-card>

    <ion-card href="second" target="_parent">
        <ion-card-header>
            <ion-card-subtitle>Cuisine</ion-card-subtitle>
            <ion-card-title>Select a cuisine of your choice</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-img src="assets/images/background.jpg" style="padding-top: 5px;"></ion-img>
        </ion-card-content>
    </ion-card>
</ion-content>